/VIAEventAssociation/Documentation/Assigment1/obj/
/VIAEventAssociation/Documentation/Docs/obj/
/VIAEventAssociation/VIAEventAssociation.Core.Tools.OperationResult/obj/
/VIAEventAssociation/Documentation/Assignment3/obj/
/VIAEventAssociation/Documentation/Assignment1/bin/Debug/
/VIAEventAssociation/Documentation/Docs/bin/Debug/
/VIAEventAssociation/Documentation/Assignment3/bin/Debug/
/VIAEventAssociation/VIAEventAssociation.Core.Tools.OperationResult/bin/Debug/
/VIAEventAssociation/Tests/UnitTests/bin/Debug/
/VIAEventAssociation/Tests/UnitTests/obj/
/VIAEventAssociation/Domain/obj/