/VIAEventAssociation/Documentation/Assigment1/obj/
/VIAEventAssociation/Documentation/Docs/obj/
/VIAEventAssociation/VIAEventAssociation.Core.Tools.OperationResult/obj/
/VIAEventAssociation/Documentation/Assignment3/obj/
/VIAEventAssociation/Documentation/Assignment1/bin/Debug/
/VIAEventAssociation/Documentation/Docs/bin/Debug/
/VIAEventAssociation/Documentation/Assignment3/bin/Debug/
/VIAEventAssociation/VIAEventAssociation.Core.Tools.OperationResult/bin/Debug/
/VIAEventAssociation/Tests/UnitTests/bin/Debug/
/VIAEventAssociation/Tests/UnitTests/obj/
/VIAEventAssociation/Domain/bin/Debug/
/VIAEventAssociation/.idea/.idea.VIAEventAssociation/.idea/copilot/chatSessions/00000000000.xd
/VIAEventAssociation/.idea/.idea.VIAEventAssociation/.idea/copilot/chatSessions/blobs/version
/VIAEventAssociation/.idea/.idea.VIAEventAssociation/.idea/copilot/chatSessions/xd.lck
/VIAEventAssociation/Domain/obj/
VIAEventAssociation/Application/obj/rider.project.restore.info
VIAEventAssociation/Application/obj/rider.project.model.nuget.info
VIAEventAssociation/Application/obj/project.packagespec.json
VIAEventAssociation/Application/obj/project.nuget.cache
VIAEventAssociation/Application/obj/project.assets.json
VIAEventAssociation/Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
VIAEventAssociation/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
VIAEventAssociation/Application/obj/Debug/net8.0/Application.assets.cache
VIAEventAssociation/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
VIAEventAssociation/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
VIAEventAssociation/Application/obj/Application.csproj.nuget.g.props
VIAEventAssociation/Application/obj/Application.csproj.nuget.dgspec.json
