/VIAEventAssociation/Documentation/Assigment1/obj/
/VIAEventAssociation/Documentation/Docs/obj/
/VIAEventAssociation/VIAEventAssociation.Core.Tools.OperationResult/obj/
/VIAEventAssociation/Documentation/Assignment3/obj/
/VIAEventAssociation/Documentation/Assignment1/bin/Debug/
/VIAEventAssociation/Documentation/Docs/bin/Debug/
/VIAEventAssociation/Documentation/Assignment3/bin/Debug/
/VIAEventAssociation/VIAEventAssociation.Core.Tools.OperationResult/bin/Debug/
/VIAEventAssociation/Tests/UnitTests/bin/Debug/
/VIAEventAssociation/Tests/UnitTests/obj/
/VIAEventAssociation/Domain/obj/
/VIAEventAssociation/Domain/bin/Debug/
VIAEventAssociation/.idea/.idea.VIAEventAssociation/.idea/copilot/chatSessions/00000000000.xd
VIAEventAssociation/.idea/.idea.VIAEventAssociation/.idea/copilot/chatSessions/blobs/version
VIAEventAssociation/.idea/.idea.VIAEventAssociation/.idea/copilot/chatSessions/xd.lck
VIAEventAssociation/Domain/obj/rider.project.restore.info
VIAEventAssociation/Domain/obj/project.packagespec.json
VIAEventAssociation/Domain/obj/project.packagespec.json
VIAEventAssociation/Domain/obj/project.nuget.cache
VIAEventAssociation/Domain/obj/project.assets.json
VIAEventAssociation/Domain/obj/Domain.csproj.nuget.g.props
VIAEventAssociation/Domain/obj/Domain.csproj.nuget.dgspec.json
VIAEventAssociation/Domain/obj/Debug/net8.0/Domain.GlobalUsings.g.cs
VIAEventAssociation/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
